In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
desc_3 = os.path.join('Proyecto Herramienta para monitoreo de la calidad de datos', '2. Datos', 'planta_2', 'planta_2_descripcion.csv')
desc_planta_3 = pd.read_csv(desc_3)
desc_planta_3

,name,unit,type_var,periodicity,critical_max_value,warning_max_value,warning_min_value,critical_min_value
0,Flujo Afluente PTAR,L/s,caudal,1 minutes,5500.0,5000.0,200.0,0.0
1,Flujo Cámara de contacto 1,L/s,caudal,1 minutes,NaN,NaN,NaN,NaN
2,Flujo Cámara de contacto 2,L/s,caudal,1 minutes,NaN,NaN,NaN,NaN
3,Flujo Alimentación Digestor 1,L/s,caudal,1 minutes,NaN,NaN,NaN,NaN
4,Flujo Alimentación Digestor 2,L/s,caudal,1 minutes,NaN,NaN,NaN,NaN
5,Flujo Alimentación Digestor 3,L/s,caudal,1 minutes,NaN,NaN,NaN,NaN
6,Nivel Pozo WAS,m,nivel,1 minutes,NaN,NaN,NaN,NaN
7,Flujo Salida de Lodo Sedimentador Secundario 3,L/s,caudal,1 minutes,NaN,NaN,NaN,0.0
8,Flujo Aire Reactor 1,L/s,flujo-aire-soplador,1 minutes,NaN,NaN,NaN,NaN
9,Flujo Aire Reactor 2,L/s,flujo-aire-soplador,1 minutes,NaN,NaN,NaN,NaN
10,Flujo Aire Reactor 3,L/s,flujo-aire-soplador,1 minutes,NaN,NaN,NaN,NaN
11,OD Reactor 1,mg/l,oxigeno-disuelto,1 minutes,9.0,7.5,NaN,NaN
12,OD Reactor 2,mg/l,oxigeno-disuelto,1 minutes,9.0,7.5,NaN,NaN
13,test,m,totalizador-energia,1 minutes,NaN,NaN,NaN,NaN

In [3]:
planta_3 = os.path.join('Proyecto Herramienta para monitoreo de la calidad de datos', '2. Datos', 'planta_3', 'planta_3_datos.csv')
df_planta_3 = pd.read_csv(planta_3)
df_planta_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22568 entries, 0 to 22567
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   date_time                               22568 non-null  object
 1   Nivel pozo                              21829 non-null  float64
 2   Falla Pozo                              22565 non-null  float64
 3   Energía Total Activa Bombas Elevadoras  22350 non-null  float64
 4   Nivel Pozo                              0 non-null      float64
 5   Funcionando Pozo                        0 non-null      float64
 6   Falla Asimetría Pozo                    22350 non-null  float64
 7   Presión pozo                            22351 non-null  float64
dtypes: float64(7), object(1)
memory usage: 1.4+ MB