# Imports

In [ ]:
import pandas as pd
import numpy as np
import funciones_analisis as funciones

# Lectura Archivos

In [ ]:
# Leer los tres dataframes procesados desde la carpeta 'df_procesados'
df_planta_1 = pd.read_csv('../df_procesados/df_planta_1.csv')
df_planta_2 = pd.read_csv('../df_procesados/df_planta_2.csv')
df_planta_3 = pd.read_csv('../df_procesados/df_planta_3.csv')

In [6]:
df_planta_1['date_time'] = pd.to_datetime(df_planta_1['date_time'])
df_planta_2['date_time'] = pd.to_datetime(df_planta_2['date_time'])
df_planta_3['date_time'] = pd.to_datetime(df_planta_3['date_time'])

# Planta 1

In [7]:
num_cols = df_planta_1.select_dtypes(include=[np.number]).columns
l_periodo = []

for col in num_cols:
    
    data = funciones.periocidad_data(df_planta_1, col)

    l_periodo.append({
                "columna": col,
                "promedio_minutos": data["promedio_minutos"],
                "std_minutos": data["std_minutos"],
                "maximo_minutos": data["maximo"]
            })
    
df_periodo = pd.DataFrame(l_periodo)

df_periodo.head()

,columna,promedio_minutos,std_minutos,maximo_minutos
0,Conductividad DAF,1.417826,74.418214,20510.0
1,Flujo Parshall 01 entrada a Ecualizador 1,1.389960,73.989870,20510.0
2,Flujo de envío a DAF,1.389914,73.988966,20510.0
3,Nivel Ecualizador 1 (Tk 30m3),1.389829,73.986710,20510.0
4,Nivel Ecualizador 2 (Tk 250m3),1.389761,73.984906,20510.0

# Planta 2

In [8]:
num_cols = df_planta_2.select_dtypes(include=[np.number]).columns
l_periodo = []

for col in num_cols:
    
    data = funciones.periocidad_data(df_planta_2, col)

    l_periodo.append({
                "columna": col,
                "promedio_minutos": data["promedio_minutos"],
                "std_minutos": data["std_minutos"],
                "maximo_minutos": data["maximo"]
            })
    
df_periodo = pd.DataFrame(l_periodo)

df_periodo.head()

,columna,promedio_minutos,std_minutos,maximo_minutos
0,Flujo Cámara de contacto 1,1.261726,28.381092,14230.0
1,Flujo Salida de Lodo Sedimentador Secundario 3,1.629157,178.727134,99603.0
2,Flujo Aire Reactor 2,1.410360,29.962937,14229.0
3,Nivel Pozo WAS,1.629325,178.373773,99389.0
4,Flujo Afluente PTAR,1.231626,27.051241,14230.0

# Planta 3

In [ ]:
num_cols = df_planta_3.select_dtypes(include=[np.number]).columns
l_periodo = []

for col in num_cols:
    
    data = funciones.periocidad_data(df_planta_3, col)

    l_periodo.append({
                "columna": col,
                "promedio_minutos": data["promedio_minutos"],
                "std_minutos": data["std_minutos"],
                "maximo_minutos": data["maximo"]
            })
    
df_periodo = pd.DataFrame(l_periodo)

df_periodo.head()

,columna,promedio_minutos,std_minutos,maximo_minutos
0,Nivel pozo,1.022769,2.111191,270.0
1,Energía Total Activa Bombas Elevadoras,1.029532,2.354087,270.0
2,Presión pozo,1.029530,2.354035,270.0